<h3 class="text-center pt-4 pb-4">{{ welcomeText }}</h3>

<div class="list-group mb-2 hover-container" *ngFor="let booking of bookings">
    <div class="list-group-item" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <a routerLink="/edit/{{booking.id}}" class="mb-1 h5 text-decoration-none">Name: {{booking.name}}</a>
        <button (click)="deleteBooking(booking)" class="btn btn-sm btn-danger redBtn">x</button>
      </div>
      <p class="mb-1">Datum: {{booking.startDate | date:"dd/MM/yy"}} - {{booking.endDate| date:"dd/MM/yy"}}</p>
      <small>Zimmernummer: {{booking.roomNumber}}</small>
    </div>
</div>
